@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Pixelify Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: "Pixelify Sans", ui-sans-serif, system-ui, sans-serif;
  padding: 32px;
  background-color: #171320;
}

.button {
  @apply text-white
           text-4xl
           uppercase
           bg-pink-500
           border-2 border-pink-400
           cursor-pointer
           px-8
              py-2
           shadow-[0_8px_0_#b03675]
           transition-all
           duration-100
           relative;
}

.button:active {
  @apply shadow-[0_2px_0_#b03675] top-[2px];
}

.title {
  @apply text-5xl
           text-white;
}

.score-label {
  @apply absolute top-1/2 left-1/2 text-2xl font-bold transform -translate-x-1/2 -translate-y-1/2;
}

@keyframes perfect-feedback {
  0% {
    box-shadow: 0 0 0px #e34698;
    border-color: #e34698;
  }
  50% {
    box-shadow: 0 0 64px #e34698;
    border-color: #e34698;
  }
  100% {
    box-shadow: 0 0 0px #e34698;
    border-color: #e34698;
  }
}

.perfect-feedback {
  @apply transition-all duration-200;
  animation: perfect-feedback 0.4s ease-out;
}

@keyframes good-feedback {
  0% {
    box-shadow: 0 0 0px #f5d259;
    border-color: #f5d259;
  }
  50% {
    box-shadow: 0 0 48px #f5d259;
    border-color: #ffffff;
  }
  100% {
    box-shadow: 0 0 0px #f5d259;
    border-color: #f5d259;
  }
}

.good-feedback {
  @apply transition-all duration-200;
  animation: good-feedback 0.4s ease-out;
}

@keyframes ok-feedback {
  0% {
    box-shadow: 0 0 0px #5fa9f5;
    border-color: #5fa9f5;
  }
  50% {
    box-shadow: 0 0 32px #5fa9f5;
    border-color: #ffffff;
  }
  100% {
    box-shadow: 0 0 0px #5fa9f5;
    border-color: #5fa9f5;
  }
}

.ok-feedback {
  @apply transition-all duration-200;
  animation: ok-feedback 0.4s ease-out;
}

@keyframes miss-feedback {
  0% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
  50% {
    box-shadow: 0 0 48px #bbbbbb;
    border-color: #ffffff;
  }
  100% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
}

.miss-feedback {
  @apply transition-all duration-200;
  animation: miss-feedback 0.4s ease-out;
}

@keyframes wrong_note-feedback {
  0% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
  50% {
    box-shadow: 0 0 48px #bbbbbb;
    border-color: #ffffff;
  }
  100% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
}

.wrong_note-feedback {
  @apply transition-all duration-200;
  animation: wrong_note-feedback 0.4s ease-out;
}

@keyframes too_early-feedback {
  0% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
  50% {
    box-shadow: 0 0 48px #bbbbbb;
    border-color: #ffffff;
  }
  100% {
    box-shadow: 0 0 0px #bbbbbb;
    border-color: #bbbbbb;
  }
}

.too_early-feedback {
  @apply transition-all duration-200;
  animation: too_early-feedback 0.4s ease-out;
}
